.user-button {
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
}

.user-button:hover {
    background-color: rgb(62, 168, 235);
    border-radius: 10px;
    padding: 2px;
}

.user-button-profile-wrapper {
    width: 50px;
    height: 50px;
}

.user-button-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-button-info-wrapper {
    margin-left: 30px;
}
div {
    text-decoration: none;
}

.gray {
    color: gray;
}