.sent {
    float: right;
    background-image: radial-gradient( rgb(75, 169, 233), rgb(28, 153, 237));
}
.received {
    background-image: radial-gradient(rgb(87, 86, 86), rgb(74, 73, 73));
    float: left;
}

.message {
    padding: 10px;
    border-radius: 25px;
    display: block;
    width: 70%;
    margin: 10px;
}

.message-content {
    text-align: left;
    width: 90%;
    font-size: 1em;
    float: left;
}
.message-timestamp {
    width: 20%;
    text-align: right;
    font-size: 0.75em;
    float: right;
}