.dm-list {
    min-width: 330px;
    overflow-y: scroll;
    height: 100vh;
    border-right: solid gray;
    border-width: 0.5px;
    padding-left: 20px;
}

.current-user-dm-list-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.messages-header {
    font-weight: bold;
    color: gray;
    height: 30px;
    width: 150px;
}

.add-contact-wrapper {
    height: 25px;
    width: 25px;
}

.add-contact-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

