.dm-history {
    position: relative;
    margin-bottom: 120px;
    margin-top: 75px;
    overflow-y: scroll;
}

.dm-wrapper {
    overflow-y: hidden;
}

/*.autoscrollable-wrapper {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }*/