.unclicked-post {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border: solid, gray ;
    text-align: center;
    margin: 10px;
}

.clicked-post {
    width: 100%;
    height: 100%;
    margin: 10px;
}
.image-wrapper {
    width: auto;
    height: auto;
}

.clicked-post-image {
    width: 700px;
    object-fit: contain;
    float: left;
 }


.unclicked-post-image {
    width: 400px;
    height: 500px;
    object-fit: cover;
 }

 .comment-section {
    float: right;
    height: 100%;
 }