.message-field {
    width: 100%;
}

.message-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:20px;
    height: 20%;
    display: flex;
    align-items: middle;
    justify-content: center;
    background-color: gray;
}

button {
    padding: 10px;
    width: 10%;
    border-radius: 10px;
}