.follow-popup {
    position: relative;
    min-width: 250px;
    width: 20vw;
    height: 60vh;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(52, 49, 49);
    padding: 50px;
}

.follow-header{
    font-weight: bold;
    color: gray;
    height: 30px;
}