.nav-bar {
    margin: 0px;
    float: left;
    width: 100px;
    height: 100vh;
    border-right: solid gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}

.nav-icon {
   width: 60%;
   height: auto;
   margin: 20px;
}