.dm-contact {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 300px;
    border-radius: 10px;
}

.dm-contact-info-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
}

.dm-contact:hover {
    opacity: 50%;
}