
.edit-profile-popup {
    position: relative;
    min-width: 780px;
    width: 70vw;
    height: 80vh;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(52, 49, 49);
}

.profile-image-wrapper {
    float: left;
    max-width: 55%;
    min-width: 40%;
    height: 100%;
    vertical-align: middle;
}
