.dm-history {
    position: relative;
    overflow: scroll;
    margin-bottom: 140px;
}

.dm-wrapper {

}

/*.autoscrollable-wrapper {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }*/