.unclicked-post {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
}

.unclicked-post-image {
    border-radius: 10px;
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.image-wrapper {
    width: auto;
    height: auto;
}
