.profile {
    margin-top: 10px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 35px;
}

.profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-photo-wrapper {
    float: left;
    width: 150px;
    height: 150px;
}

.profile-info-wrapper {
    margin-left: 50px;
}

.profile-info {
    margin-left: 75px;
    white-space: pre-wrap;
}

.profile-username {
    font-weight: bold;
    font-size: 1.75em;
    vertical-align: middle;
}

.profile-stats {
    color: rgb(150, 149, 149);
    font-size: 1em;
}

.profile-stats-field {
    margin-right: 10px;
}

.profile-stats-field:hover {
    color: white;
}
.profile-content {
    overflow-y: scroll;
    height: 50%;
}

.profile-button {
    font-size: 1em;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    vertical-align: middle;
    width: 100px;
    height: 40px;
    background-color:rgb(130, 128, 128);
    color: white;
}

.profile-button:hover {
    background-color: rgb(62, 168, 235);
}
.profile-header {
    display: flex;
}

.settings-button-wrapper {
    width: 50px;
    height: 40px;
    margin-left: 10px;
}

.settings-button {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.account-owner-buttons {
    display: flex;
}

.white {
    color: white;
}
